@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');body{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #ECF0F3
;
}.container{
    height: 500px;
    width: 350px;
    position: relative;
    margin-top: 100px;
    margin-left: 600px;
    border-radius: 20px;
    background: #ECF0F3
;
    box-shadow: 14px 14px 20px #CBCED1
 , -14px -14px 20px white;}
.brand-title{
  font-weight: 900;
  font-size: 40px;
  color: #1DA1F2
;
  letter-spacing: 1px;
  padding: 30px;
}
.inputs{
    text-align: center;
    margin-top: 0px;
}input::placeholder{
    color: gray;
}
label,input,button{
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}
input{
    width: 330px;
    background: #ECF0F3
;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #CBCED1
, inset -6px -6px 6px white;
}
button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }



    